@import (inline) '../../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import (inline) '../../node_modules/react-color-picker/index.css';
@import '../../node_modules/material-ui/src/less/scaffolding';
@import '../../node_modules/material-ui/src/less/components';
@import '../../node_modules/react-select/less/default';

@icon-size: 20px;

@import 'icons';
@import 'info-container';
@import 'spinner';

@import 'roboto-font';



body {
  background: #2c3e50;
}

body, input, button, textarea, select {
  font-family: 'Roboto', sans-serif;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
	width: 100%;

	svg& {
		&.grabbed {
			cursor: move;
		}

		circle.node {
			stroke: black;
			cursor: pointer;

			&.selected {
				stroke: #bdc3c7;
				stroke-width: 2px;
			}
		}

		text.label {
			fill: white;
			stroke: black;
			font-weight: 800;
			stroke-width: .8;
			cursor: pointer;
		}

		line.edge {
			stroke-width: 2;
		}

		#triangle path {
			fill: lightgrey;
		}
	}
}

.map-actions {
	position: fixed;
	bottom: 25px;
	right: 35px;

	> div {
		margin: 16px 0;

		&:last-child {
			margin: 0;
		}
	}

	.icon-lock {
		position: relative;
		left: 4px;
	}
}

.colorbox {
	width: 30px;
	height: 50px;
}
