.map {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;

	svg& {
		&.grabbed {
			cursor: move;
		}

		&:not(.grabbed) {
			.node circle {
				cursor: pointer;
			}
		}

		.node {
			circle {
				stroke: black;
				stroke-width: 4px;

				&.selected {
					stroke: #bdc3c7;
					stroke-width: 2px;
				}
			}
		}

		line.link {
			stroke: #bababa;
			stroke-opacity: .2;
			stroke-width: 2px;

			&.selected {
				stroke: white;
				stroke-opacity: 1;
			}
		}

		text.label {
			fill: white;
			stroke: black;
			font-weight: 800;
			stroke-width: .8;
			cursor: pointer;
			@media(-webkit-min-device-pixel-ratio:2) {
				font-weight: 400;
				stroke-width: .4;
			}
		}

		line.edge {
			stroke-width: 3px;
		}

		#triangle path {
			fill: lightgrey;
		}
	}
}
