.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;

  svg& {
    &.grabbed {
      cursor: move;
    }

    &:not(.grabbed) {
      .node circle {
        cursor: pointer;
      }
    }

    .node {
      circle {
        stroke: black;
        stroke-width: 4px;

        &.highlighted {
          fill: hsla(0, 100%, 100%, 0.05) !important;
        }
      }

      text.label {
        fill: white;
        stroke: black;
        font-weight: 400;
        stroke-width: .2;
        cursor: pointer;
        @media (-webkit-min-device-pixel-ratio: 2) {
          font-weight: 400;
          stroke-width: .4;
        }
      }

      &.selected {
        opacity: 1 !important;

        > circle {
          fill: hsla(0, 100%, 100%, 0.05) !important;
          opacity: 1 !important;
        }

        > .label {
          opacity: 1 !important;
          font-size: medium;
        }
      }
    }

    polygon.link {
      fill: #d6d6d6;
      display: none;

      &.long-distance-relationship {
        fill-opacity: .05;
      }

      &.selected, &.highlighted {
        display: block;
        fill-opacity: .5;
      }
    }
  }
}
